body {
  	padding-top: 10px;
  
}
.contenido{
	padding: 10px;
}

.selected{
	background-color: #c2d6fb !important;
}

.btn-secondary {
	color: #fff;
	background-color: #6c757d;
	border-color: #6c757d;
  }
  
  .btn-secondary:hover {
	color: #fff;
	background-color: #5a6268;
	border-color: #545b62;
  }
  
  .btn-secondary:focus, .btn-secondary.focus {
	box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
  }
  
  .btn-secondary.disabled, .btn-secondary:disabled {
	color: #fff;
	background-color: #6c757d;
	border-color: #6c757d;
  }
  
  .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
  .show > .btn-secondary.dropdown-toggle {
	color: #fff;
	background-color: #545b62;
	border-color: #4e555b;
  }
  
  .btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
  .show > .btn-secondary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
  }

  #infoMessage{
	color:#a94442 !important;
  }

  .tbl_grid{
  	  overflow-x:auto; 
	  min-height:250px;
	  font-size: small;
  }

  .pagination{
	font-size: smaller;
	margin-top: -18px;
  }

	.r{
		text-align: right;
	}
	.c{
		text-align: center;
	}

	.tablaVenta{
		height: 100px;
		overflow-y: scroll;
		border: 2px solid lightgray;

	}

	.tablaVenta .row{
		margin-bottom: 20px;
	}
	
	.tableFixHead          { overflow-y: auto; height: 300px; border: 1px solid #eeeeee;}
	.tableFixHead thead th { position: sticky; top: 0; }
	
	/* Just common table stuff. Really. */
	table  { border-collapse: collapse; width: 100%; }
	th, td { padding: 8px 16px; }
	th     { background:#eee; }
